{{- $indexingStrategy := include "primary-site.indexingStrategy" . }}
{{- if eq $indexingStrategy "split-files" }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: garbage-collector
  labels:
    app: garbage-collector
spec:
  concurrencyPolicy: Forbid
  schedule: "{{ .Values.garbageCollector.schedule }}"
  failedJobsHistoryLimit: {{ .Values.garbageCollector.failedJobsHistoryLimit }}
  successfulJobsHistoryLimit: {{ .Values.garbageCollector.successfulJobsHistoryLimit }}
  jobTemplate:
    metadata:
      labels:
        app: garbage-collector
    spec:
      template:
        spec:
          volumes:
            - name: cloud-credentials
              secret:
                secretName: gcp-cloud-credential
                optional: true
            {{- if .Values.garbageCollector.deployment.extraVolumes }}
              {{- toYaml .Values.garbageCollector.deployment.extraVolumes | nindent 12 }}
            {{- end }}
          {{- if .Values.garbageCollector.deployment.initContainers }}
          initContainers:
            {{- toYaml .Values.garbageCollector.deployment.initContainers | nindent 12 }}
          {{- end }}
          containers:
            - name: garbage-collector
              image: {{ .Values.garbageCollector.deployment.image }}:{{ .Chart.AppVersion }}
              resources:
                requests:
                  cpu: {{ .Values.garbageCollector.deployment.resources.requests.cpu }}
                  memory: {{ .Values.garbageCollector.deployment.resources.requests.memory }}
                limits:
                  cpu: {{ .Values.garbageCollector.deployment.resources.limits.cpu }}
                  memory: {{ .Values.garbageCollector.deployment.resources.limits.memory }}
              securityContext:
                readOnlyRootFilesystem: true
                capabilities:
                  drop:
                    - ALL
                allowPrivilegeEscalation: false
                runAsNonRoot: true
                runAsUser: 65534
                runAsGroup: 65534
                seccompProfile:
                  type: RuntimeDefault
              volumeMounts:
                - mountPath: /secrets
                  name: cloud-credentials
                {{- if .Values.garbageCollector.deployment.extraVolumeMounts }}
                  {{- toYaml .Values.garbageCollector.deployment.extraVolumeMounts | nindent 16 }}
                {{- end }}
              envFrom:
                - secretRef:
                    name: cloud-credentials
                    optional: true
                - secretRef:
                    name: foxglove-site-token
                    optional: true
                {{- range $k := .Values.globals.secrets }}
                - secretRef:
                    name: {{ $k }}
                {{- end }}
              env:
                {{- with lookup "v1" "Secret" .Release.Namespace "gcp-cloud-credential" }}
                ## The lookup is required here. The pod may have access to GCP through other means, but
                ## the credentials in this env var take precedence, even if it's empty. An empty variable
                ## essentially blocks GCP access.
                - name: GOOGLE_APPLICATION_CREDENTIALS
                  value: /secrets/credentials.json
                {{ end }}
                - name: FOXGLOVE_API_URL
                  value: "{{ .Values.globals.foxgloveApiUrl }}"
                {{- if .Values.globals.siteToken }}
                - name: FOXGLOVE_SITE_TOKEN
                  valueFrom:
                    secretKeyRef:
                      name: foxglove-site
                      key: token
                      optional: false
                {{- end }}
                - name: MODE
                  value: self-managed
                - name: STORAGE_LAKE_BUCKET_NAME
                  value: "{{ .Values.globals.lake.bucketName }}"
                - name: STORAGE_PROVIDER
                  value: "{{ .Values.globals.lake.storageProvider }}"
                - name: STORAGE_AZURE_STORAGE_ACCOUNT_NAME
                  value: "{{ .Values.globals.azure.storageAccountName }}"
                - name: STORAGE_AZURE_SERVICE_URL
                  value: "{{ .Values.globals.azure.serviceUrl }}"
                - name: AWS_REGION
                  value: "{{ .Values.globals.aws.region }}"
                - name: AWS_SDK_LOAD_CONFIG
                  value: "true"
                - name: PRIMARY_SITE_VERSION
                  value: "{{ .Chart.Version }}"
                {{- if .Values.globals.proxy.enabled }}
                - name: HTTP_PROXY
                  value: {{ .Values.globals.proxy.httpProxy }}
                - name: HTTPS_PROXY
                  value: {{ .Values.globals.proxy.httpsProxy }}
                - name: NO_PROXY
                  value: {{ .Values.globals.proxy.noProxy }}
                {{- end }}
                {{- range $item := .Values.garbageCollector.deployment.env }}
                - name: {{ $item.name }}
                  value: {{ $item.value | quote}}
                {{- end }}
          restartPolicy: OnFailure
          {{- if .Values.garbageCollector.deployment.serviceAccount.enabled }}
          serviceAccount: garbage-collector
          {{- end}}
          {{- if .Values.garbageCollector.deployment.nodeSelectors }}
          nodeSelector:
            {{- range $key, $value := .Values.garbageCollector.deployment.nodeSelectors }}
            {{ $key }}: {{ $value | quote }}
            {{- end }}
          {{- end}}
{{- end }}
