# Default values for edge-site.

globals:
  # Environment Secrets
  # List installed Secrets in the foxglove namespace that will be loaded as
  # environment variables. A single Secret can contain multiple key-value pairs.
  secrets:
  ## E.g.:
  ## - arbitrary-secret
  ## - another-secret

  # The api endpoint the deployment will use as the control plane
  foxgloveApiUrl: https://api.foxglove.dev

  aws:
    ## For example: us-east-1
    region: ""

  # This section configures where the deployment will upload files you wish to import into a primary site
  upload:
    # The cloud provider where the destination inbox bucket lives
    # Values values: aws, azure, google_cloud
    provider:
    # The bucket name where the deployment will send the requested files
    bucketName:

# Configuration for recording storage, defaults to the persistent volume configured by
# `edgeController.storageClaim`
recordingStorage:
  provider: "local"
  # If storing recordings on an S3-compatible service, set `provider` to "s3_compatible"
  # The service URL eg. https://my-minio-service.mycompany.com
  s3CompatibleServiceUrl: ""
  # If storing recordings on an S3-compatible service, set the bucket name where the recordings are
  # stored.
  bucketName: ""
  # If your service is configured with a region (eg. us-east-1), set it here.
  s3CompatibleServiceRegion: ""

edgeController:
  storageClaim: edge-controller-storage-claim
  indexClaim: edge-controller-index-claim
  metrics:
    namespace: "foxglove_data_platform"
    subsystem: "edge_controller"
  resources:
    requests:
      memory: "256Mi"
      cpu: "250m"
    limits:
      memory: "256Mi"
      cpu: "250m"
  podLabels: {}
  podAnnotations: {}
  serviceLabels: {}
  env: []
