{{- with .Values.remoteDataLoader.deployment.serviceAccount -}}
{{- if .enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: remote-data-loader
  annotations:
    {{- range $key, $value := .annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
{{- end -}}
{{- end -}}
