globals:
  siteToken:
  foxgloveApiUrl: https://api.foxglove.dev

  ## Supported storageProvider values are: `google_cloud`, `aws` or `azure`
  ## If `azure` is used, then the `@azure.storageAccountName` and `@azure.serviceUrl` values
  ## are required. If `aws` is used, then the `@aws.region` value is required.
  lake:
    storageProvider: google_cloud
    bucketName: foxglove-lake
  inbox:
    storageProvider: google_cloud
    bucketName: foxglove-inbox

  azure:
    storageAccountName: ""
    ## For example: https://<resourcegroup>.blob.core.windows.net
    serviceUrl: ""

  aws:
    ## For example: us-east-1
    region: ""

ingress:
  ## If you are configuring your own ingress controller, set this to 'false'
  enabled: true
  className:
  annotations: {}
  ## This section is only required if TLS is to be enabled for this ingress
  tls:
    ## E.g.:
    ## - hosts:
    ##   - www.example.com
    ##   secretName: ingress-tls-csi

inboxListener:
  deployment:
    replicas: 1
    resources:
      requests:
        cpu: 1000m
        memory: 4Gi
      limits:
        cpu: 1000m
        memory: 4Gi
    podLabels: {}

streamService:
  deployment:
    replicas: 1
    resources:
      requests:
        cpu: 1000m
        memory: 2Gi
      limits:
        cpu: 1000m
        memory: 2Gi
    podLabels: {}

siteController:
  deployment:
    resources:
      requests:
        cpu: 250m
        memory: 250Mi
      limits:
        cpu: 250m
        memory: 250Mi
    podLabels: {}

garbageCollector:
  schedule: "*/10 * * * *" # every 10 minutes
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 3
