{{- $indexingStrategy := include "primary-site.indexingStrategy" . }}
{{- if eq $indexingStrategy "split-files" }}
{{- if .Values.inboxListener.autoscaling.enabled }}
apiVersion: keda.sh/v1alpha1
kind: ScaledJob
metadata:
  name: inbox-listener-scaledjob
spec:
  minReplicaCount: {{ .Values.inboxListener.autoscaling.minReplicas }}
  maxReplicaCount: {{ .Values.inboxListener.autoscaling.maxReplicas }}
  successfulJobsHistoryLimit: {{ .Values.inboxListener.autoscaling.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .Values.inboxListener.autoscaling.failedJobsHistoryLimit }}
  pollingInterval: {{ .Values.inboxListener.autoscaling.pollingInterval }}
  jobTargetRef:
    parallelism: 1
    activeDeadlineSeconds: 86400
    {{ include "primary-site.inbox-container" . | nindent 4 }}
  triggers:
    - type: metrics-api
      metadata:
        format: "prometheus"
        targetValue: "2"
        url: "http://site-controller.{{.Release.Namespace}}.svc.cluster.local:6001/metrics"
        valueLocation: "{{ with .Values.siteController.deployment.metrics.namespace }}{{ . }}{{else}}foxglove_data_platform{{ end }}_{{ with .Values.siteController.deployment.metrics.subsystem }}{{ . }}{{else}}site_controller{{ end }}_unleased_pending_import_count"
{{- else }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: inbox-listener
  labels:
    app: inbox-listener
spec:
  replicas: {{ .Values.inboxListener.deployment.replicas }}
  selector:
    matchLabels:
      app: inbox-listener
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  {{ include "primary-site.inbox-container" . | nindent 2 }}
{{- end }}
{{- end }}
