# Default values for remote-data-loader

globals:
  # Configure the endpoint the remote data loader will retrieve manifests from.
  manifestEndpoint: ""
  # Environment Secrets
  # List installed Secrets in the foxglove namespace that will be loaded as
  # environment variables. A single Secret can contain multiple key-value pairs.
  secrets:
  ## E.g.:
  ## - arbitrary-secret
  ## - another-secret

  ## Configure an http/https egress proxy if your environment requires outgoing connections to be proxied. Set `enabled` to `true` and appropriate values for `httpProxy`, `httpsProxy` and `noProxy`.
  proxy:
    enabled: false
    httpProxy: ""
    httpsProxy: ""
    noProxy: ""

  aws:
    ## For example: us-east-1
    region: ""

  azure:
    storageAccountName: ""
    ## For example: https://<resourcegroup>.blob.core.windows.net
    serviceUrl: ""

  # Bucket used by the remote data loader to cache and speed up queries.
  cache:
    enabled: false
    storageProvider: "s3_compatible"
    bucketName: "foxglove-cache"

ingress:
  ## If you are configuring your own ingress controller, set this to 'false'
  enabled: true
  className:
  annotations:
  # set the host value for an ingress
  host:
  ## This section is only required if TLS is to be enabled for this ingress
  tls:
    ## E.g.:
    ## - hosts:
    ##   - www.example.com
    ##   secretName: ingress-tls-csi

remoteDataLoader:
  # Create a HorizontalPodAutoscaler to scale the deployment
  autoscaling:
    # If you're using your own autoscaling strategy set this to 'false'
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    averageCpuUtilization: 80

  service:
    # Add annotations to the service created to expose the
    annotations: {}

  deployment:
    replicas: 1
    image: "us-central1-docker.pkg.dev/foxglove-images/images/remote-data-loader"
    initContainers: []
    extraVolumes: []
    extraVolumeMounts: []
    resources:
      requests:
        cpu: 250m
        memory: 250Mi
      limits:
        cpu: 250m
        memory: 250Mi
    podLabels: {}
    podAnnotations: {}
    nodeSelectors: {}
    metrics:
      namespace: ""
      subsystem: ""
    # Extra environment variables to be set on the remote data loader container
    env: []
    # When connections are still active to the remote data loader wait for 30s before shutting down.
    # Increase this amount if you experience failed requests during an upgrade or scaling.
    terminationGracePeriodSeconds: 30
    # Service accounts are not required by default. You can use them on AWS to allow
    # the deployment assume an IAM role.
    # E.g:
    # enabled: true
    # annotations:
    #   eks.amazonaws.com/role-arn: arn:aws:iam::xxxxxxxxxxxx:role/foxglove-inbox-listener-sa-role
    serviceAccount:
      enabled: false
      annotations: {}
